.category-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px;
}

.category-card {
  min-width: 90px;
  height: 100px;
  background: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.hover {
  transform: "translateY(-4px)",
}


.category-icon.hover {
  font-size: 32px;
  color: #e23744; /* Zomato red */
  margin-bottom: 6px;
}

.category-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.category-card.active {
  background: #e23744;
}

.category-card.active .category-icon,
.category-card.active .category-name {
  color: #fff;
}
